name: Release

on:
  push:
    branches:
      - main

permissions:
  id-token: write # Required for provenance
  contents: write # Required for changesets/action
  pull-requests: write # Required for changesets/action

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    name: Release
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24
      - run: npx corepack enable pnpm
      - run: pnpm install --frozen-lockfile
      - run: pnpm run ci
